@import '../../../styles/breakpoints';

// .PageContainer {
  // margin: 8px;

  // @include break(sm) {
  //   margin: 16px;
  // }
// }


.LeadWrapper {
  margin: 0 auto;
  max-width: 700px;
  width: 80%;

  @include break(md) {
    max-width: 900px;
  }
}



// 
// Mosaic
// 

.Mosaic {
  margin: 96px auto;
  max-width: 1440px;

  @include break(sm) {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  @include break(xl) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.MosaicRow {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 18px;

  &:nth-of-type(1) {
    padding-right: 25%;
    padding-left: 10%;
  }

  &:nth-of-type(2) {
    align-items: flex-start;
    margin-bottom: 0;
    padding-left: 25%;
    padding-right: 10%;
  }
}


.MosaicImageWrapper {
  position: relative;
  padding: 0;
  margin-bottom: -16px;

  @include break(sm) {
    margin-bottom: -12px;
  }

  @include break(md) {
    margin-bottom: -8px;
  }

  @include break(lg) {
    margin-bottom: -4px;
  }


  &:not(:last-of-type) {
    margin-right: 8px;
    
    @include break(sm) {
      margin-right: 12px;
    }

    @include break(md) {
      margin-right: 16px;
    }

    @include break(lg) {
      margin-right: 20px;
    }
  }
}

.MosaicImageWrapperWide {
  flex: 5;
}

.MosaicImageWrapperSquare {
  flex: 2;
}

.MosaicImage {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  max-width: 100%;
  border-radius: 4px;
}



// 
// Statements
// 
.StatementsWrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 32px auto;

  @include break(md) {
    width: 80%;
  }
}

.StatementWrapper,
.StatementSection {
  // padding-left: 5vw;
  // padding-right: 5vw;
  padding: 0 8px;

  @include break(sm) {
    padding: 0 24px;
  }

  @include break(lg) {
    padding: 0 60px;
  }

  @include break(xl) {
    padding: 0 90px;
  }
}

.StatementWrapper {
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.StatementSection {
  max-width: 900px;
  text-align: justify;
}

.StatementRow {
  margin-top: 48px;

  @include break(md) {
    margin-top: 24px;
  }
}