@import '../../../styles/breakpoints';

.PageContainer {
  margin: 0 auto;
  width: 90%;

  @include break(sm) {
    width: 80%;
  }
}


//
// Cards
//

.CardsContainer {
  margin: 96px 8px;
  
  @include break(md) {
    margin-left: auto;
    margin-right: auto;
  }
}

.CardWrapper {
  margin-bottom: 64px;
}

.CardImageWrapper {
  position: relative;
  height: 333.33px;

  @include break(md) {
    height: 250px;
  }
}

.CardImage {
  height: 100%;
  width: 100%;
  object-position: 50% 50%;
  object-fit: cover;
}

.CardHeadingWrapper {
  margin-top: 16px;
  margin-bottom: 16px;

  @include break(md) {
    margin-bottom: 0;
  }
}

.CardHeading {
  font-size: 18px;
  margin: 0;
  word-wrap: break-word;
  font-weight: 500;
  line-height: 1.444em;

  @include break-only(sm) {
    font-size: 20px;
  }
}

