@import '../../../styles/breakpoints';
@import '../../../styles/colors';

.PeopleContainer,
.PeopleWrapper {
  display: flex;
}

.PeopleContainer,
.PeopleWrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.PeopleContainer {
  background-color: $greyblue2;
  margin: 48px auto 96px auto;
  padding: 72px 5vw;
  
  @include break(ms) {
    padding: 96px 32px;
  }
}

.PeopleWrapper {
  max-width: 800px;
  width: 100%;

  @include break(lg) {
    max-width: 1100px;
  }
}


.People {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem 1.5rem;
  width: 100%;

  @include break(ms) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  @include break(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}
