@import '../styles/variables';

.IndexContainer {
  color: inherit;
}


.IndexWrapperInner {
  margin: 96px 8px;

  @include break(md) {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}


.ImageWrapper {
  position: relative;
  height: 333.33px;

  @include break(xl) {
    height: 416px;
  }
}

.Image {
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.ImageLabelWrapper {
  margin-top: 16px;
  margin-bottom: 32px;

  @include break(md) {
    margin-bottom: 0;
  }

  @include break(lg) {
    margin-left: 48px;
    margin-right: 48px;
  }

  @include break(xl) {
    margin-left: 64px;
    margin-right: 64px;
  }
}

.ImageLabel {
  text-align: center;
  font-size: 18px;
  margin: 0;
  word-wrap: break-word;
  font-weight: 400;
  line-height: 1.444em;

  @include break-only(md) {
    font-size: 16px;
  }
}



.BlockWrapper {
  display: flex;
  flex-direction: column;
  margin: 8px;

  @include break(md) {
    flex-direction: row;
    margin: auto;
  }
}


.BlockImageWrapper {
  height: 380px;
  position: relative;
  flex: 1;
  order: 2;

  @include break(md) {
    flex: 5;
    margin: 8px;
  }
}


.BlockImageWrapper,
.BlockTextWrapper {
  min-height: 1px;
  
  @include break(md) {
    height: 500px;
  }
  
  @include break(xl) {
    height: 625px;
  }
}


.BlockTextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  order: 1;
  margin: 32px auto;
  
  @include break(md) {
    background-color: #e0e0e0;
    flex: 7;
    margin: 8px;
  }
}

.BlockTextWrapper.Offset {
  @include break(md) {
    order: 3;
  }
}


.BlockText {
  width: 70%;
}


.BlockImage {
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}