@import '../../styles/breakpoints';
@import '../../styles/typography';
@import '../../styles/variables';
@import '../../styles/helpers';

.PersonContainer,
.Person {
  display: flex;
  flex-direction: column;
}

.PersonContainer {
  align-items: center;
  justify-content: flex-start;
  margin: 48px auto;
  width: 90%;
  
  @include break(md) {
    margin-top: 128px;
  }
}

.Person {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 650px;
  
  @include break(ml) {
    max-width: 960px;
    flex-direction: row;
  }
}

.PersonImageWrapper,
.PersonContentWrapper {
  flex: 1;
}

.PersonImageWrapper {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  flex: 1;
}

.PersonImage {
  flex: 1;
  width: 100%;
  height: 100%;
  background-position: top center;
  background-size: cover;

  @include break(ml) {
    background-position: center center;
  }
}

.PersonContentWrapper {
  order: 2;
  padding: 0 8px;

  @include break(ml) {
    order: -1;
    padding: 0 32px;
  }
}

.PersonHeadings {
  text-align: center;
  margin-top: 5vw;

  @include break(ml) {
    margin-top: 0;
  }
}

.PersonName {
  @include responsive-font(h1);
  
  @include break-between(sm, ml) {
    @include responsive-font(h0);
  }
}

.PersonRole {
  @include responsive-font(h5);
  
  @include break-between(sm, ml) {
    @include responsive-font(h4);
  }
}

.PersonContent,
.PersonContent p {
  @include responsive-font(p);
  text-align: justify;
}

.PersonContent {
  margin-top: 40px;
}


.PersonLinksWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 12px;
  
  @include break(sm) {
    margin-top: 20px;
  }
}

.PersonLinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 95%;

  li,
  li a {
    color: $greyblue5;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-rendering: geometricPrecision;
    transition: background-color 75ms ease;
    padding: 2px 0;
    // line-height: 1;
    
    @include break(sm) {
      // font-size: 16px;
    }
    
    &:hover {
      color: $greyblue7;
    }
    
    span {
      line-height: 1;
      flex: 1;
      margin-left: 12px;

      &:first-of-type {
        margin-left: 0;
        font-size: 95%;
      }

      &:not(:first-of-type) {
        @include break-below(sm) {
          visibility: hidden;
          display: none;
        }
      }
    }
  }


  @include break-below(sm) {
    flex-direction: row;

    li a {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 12px;
      font-size: 20px;
      border: 2px solid $greyblue2;
      border-radius: 50%;
      height: 44px;
      width: 44px;
      transition: border 150ms ease;
      
      &:hover {
        border: 2px solid $greyblue5;
      }
    }
  }
}