@import '../../styles/colors';
@import '../../styles/breakpoints';
@import '../../styles/typography';
@import '../../styles/variables';


.PersonCardWrapper,
.PersonCard,
.PersonCardHead,
.PersonCardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.PersonCardWrapper {
  display: flex;
  padding: 0;
  align-self: stretch;
  width: 100%;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: $box-shadow;
}


.PersonCard {
  justify-content: space-evenly;
  width: 100%;
  flex: 1;

  & > a {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
  }
}

.PersonCardHead {
  flex: 1;
}

.PersonCardImage {
  max-width: 100%;
  object-fit: cover;
}

.PersonCardBody {
  background-color: #fff;
  padding: 20px 32px;
  flex: 1;
  width: 100%;
  margin-top: -8px;
  flex-direction: column;
  text-align: center;
  justify-content: baseline;
  align-self: stretch;

  @include break-only(ms) {
    padding: 20px;
  }

  .PersonName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    color: $greyblue8;
    line-height: 1.35;

    @include responsive-font(h4);

    @include break-between(sm, ms) {
      @include responsive-font(h2);
    }
    
    @include break(ml) {
      @include responsive-font(h3);
    }

    @include break(ms) {
      flex-direction: row;
      align-items: baseline;
    }
  }

  .PersonRole,
  .PersonTitle {
    color: $greyblue5;
    font-size: 14px;
  }
}

.PersonCardBase {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $greyblue1;
  width: 100%;

  li,
  li a {
    color: $greyblue3;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-rendering: geometricPrecision;
    height: 100%;
    transition: background-color 75ms ease;

    &:hover {
      color: #fff;
      background-color: $greyblue5;
    }
  }
}
