@import '../../../styles/variables';

.LeadWrapper {
  margin: 72px auto 8px auto;
  width: 80%;
  max-width: 900px;
}




//
// Blocks
//

.BlockWrapper {
  display: flex;
  flex-direction: column;
  margin: 72px 24px;

  @include break(md) {
    flex-direction: row;
    margin: 96px 24px;
  }
}

.BlockImageWrapper {
  height: 380px;
  position: relative;
  flex: 1;
  order: 1;

  @include break(md) {
    flex: 5;
    margin: 8px;
    order: 2;
  }
}

.BlockImageWrapper,
.BlockTextWrapper {
  min-height: 1px;
  
  @include break(md) {
    height: 500px;
  }
  
  @include break(xl) {
    height: 625px;
  }
}

.BlockTextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  order: 2;
  margin: 32px auto;
  width: 100%;
  
  @include break(md) {
    flex-direction: row;
    justify-content: flex-start;
    flex: 7;
    margin: 8px;
    order: 1;
    padding-right: 24px;
  }
}

.BlockTextWrapper.Inverse {
  @include break(md) {
    order: 3;
    padding-right: 0;
    padding-left: 24px;
  }
}

.BlockText {
  width: 100%;
  flex: 1;
  max-width: 700px;
  margin: auto;
  text-align: left;
  
  @include break(lg) {
    width: 90%;
  }
}

.BlockImage {
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.BlockHeadingWrapper {
  margin-bottom: 2.5em;
}

.BlockHeading {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: normal;

  @include break(md) {
    margin-bottom: 8px;
    font-size: 28px;
    line-height: 32px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  @include break(lg) {
    margin-bottom: 8px;
    font-size: 32px;
    line-height: 36px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  @include break(xl) {
    font-size: 46px;
    line-height: 52px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}


//
// Tabs
//

.TabsWrapper {
  @include break-only(sm) {
    display: none;
  }
}

.Tabs {
  // font-family: $font-stack-sans-serif;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.TabList {
  display: flex;
}

.Tab {
  flex: 1;
  text-align: center;
  padding: 1em 2em;
  font-size: 1.1em;
  background-color: #eee;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  @include break(md) {
    padding: 12px 16px;
    font-size: 1em;
  }
}

.Tab__Selected {
  background-color: #fff;
  border-bottom: none;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.TabPanel__Selected {
  height: 100%;
  padding: 8px 24px 24px 0;
  overflow-y: scroll;

  @include break(md) {
    height: 350px;
  }

  @include break(xl) {
    height: 450px;
  }

  p {
    line-height: 1.5em;
  }
}



//
// Accordions
//

.AccordionWrapper {
  @include break(md) {
    display: none;
  }
}

.Accordion {
  // background-color: lavender;
}

.AccordionItem {
  margin-top: 8px;
}

.AccordionItemTitle {
  background-color: $blue;
  color: #fff;
  padding: 1rem;
  font-size: 18px;
  font-weight: 500;
}

.AccordionItemExpanded {
  padding-bottom: 1rem;
}

.AccordionItemBody {
  & > div {
    margin-top: 1rem;
  }
}