@import '../../../styles/variables';

.PageWrapper {
  color: inherit;
}

// 
// Modal
// 


.ModalWrapper {
  margin: 0;
  padding: 0;
}

.ModalOverlay {
  background: rgba(255, 255, 255, 0.8);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;

  @include break(md) {
    padding: 60px;
  }
}

.Modal {
  background-color: #fff;
  height: auto;
  flex: 1 0 auto;
  width: 100%;
  max-width: 960px;
  padding: 24px;
  margin: 0 auto;
  overflow: hidden;

  @include break(md) {
    border-radius: 3px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
    padding: 24px 48px;
  }
}

.ModalHeading {
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid rgb(235, 235, 235);
  display: flex;
  font-size: 14px;
  font-weight: 500;
  height: 50px;
  justify-content: space-between;
  left: 0;
  padding: 0 24px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 15;

  @include break(md) {
    position: relative;
    padding: 0;
    font-size: 24px;
  }
}

.ModalClose {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;

  button {
    background: transparent;
    border: none;
    padding: 12px;
  }
}

.ModalBody {
  margin: 32px auto;
  word-wrap: break-word;
  overflow-wrap: break-word;

  @include break(md) {
    margin-top: 0;
  }
}

.ModalContent {
  line-height: 1.375em;
  margin-left: -8px;
  margin-right: -8px;
  padding-left: 8px;
  padding-right: 8px;

  @include break(sm) {
    padding-left: 16px;
    padding-right: 16px;
  }
  
  p {
    margin-top: 0;
    line-height: 1.25;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 2rem;
  }

  ul {
    list-style-position: outside;
  }

  li {
    margin-bottom: 16px;
    margin-left: 24px;
    position: relative;

    &:before {
      position: absolute;
      content: '\2713';
      display: inline-block;
      font-size: inherit;
      left: -24px;
    }
  }
}

.ModalTags {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-top: 16px;

  li {
    align-items: center;
    display: flex;
    font-size: 0.95rem;

    &:not(:last-of-type) {
      margin-right: 24px;
    }

    @include break(sm) {
      font-size: 1rem;
    }
  }

  span {
    line-height: 1;
    display: inline-block;
    margin-right: 4px;
  }
}



// 
// Lead
// 

.LeadWrapper {
  margin: 32px auto 72px auto;
  width: 80%;
  max-width: 900px;
}



//
// Blocks
//

.BlockWrapper {
  padding: 60px 16px;
  margin: -8px;

  @include break(sm) {
    padding: 60px 48px;
  }

  &:nth-of-type(even) {
    background-color: $grey-light;
  }
}


.BlockWrapperInner {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 24px 8px;
  height: auto;
  max-width: 1080px;
  margin: auto;
  
  @include break(md) {
    width: 70%;
  }

  @include break(md) {
    margin: 24px;
  }
  
  @include break(md) {
    flex-direction: row;
    margin: auto;
  }
}


.BlockImageWrapper {
  height: 300px;
  position: relative;
  flex: 1;
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: calc(100vw - 60px);
  max-height: calc(100vw - 100px);
  margin: auto;

  @include break(sm) {
    height: 300px;
    max-height: calc(80vw - 60px);
    min-height: 250px;
  }

  @include break(md) {
    flex: 3;
    margin: 8px;
    order: 2;
  }
}


.BlockImageWrapper,
.BlockTextWrapper {
  min-height: 100px;
  
  @include break(md) {
    height: 300px;
  }
  
  @include break(xl) {
    height: 400px;
  }
}


.BlockImage {
  height: 100%;
  width: 100%;
  flex: 1;
  position: absolute;

  // background-position: 50% 50%;
  // background-repeat: no-repeat;
  // background-size: cover;

  // @include break(sm) {
  //   width: 50%;
  // }

  // @include break-only(md) {
  //   width: 80%;
  // }
}


.BlockTextWrapper {
  display: flex;
  flex-direction: column;
  // justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  flex: 1;
  order: 2;
  margin: 8px;
  
  @include break(md) {
    // margin: 32px 8px;
    flex: 9;
  }
}


.BlockTextWrapperInner {
  // width: 90%;
  text-align: center;
  
  @include break(sm) {
    width: 80%;
  }

  @include break(md) {
    text-align: left;
  }
  
  @include break(lg) {
    width: 60%;
  }
}

.BlockWrapper:nth-of-type(even) .BlockTextWrapper {
  @include break(md) {
    order: 1;
  }
}

.BlockText {
  font-size: 15px;
  line-height: 20px;

  @include break(sm) {
    font-size: 17px;
    line-height: 22px;
  }

  @include break(lg) {
    font-size: 18px;
    line-height: 28px;
  }
}


.BlockHeadingWrapper {
  // margin-bottom: 2.5em;
  width: 100%;
}


.BlockHeading {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: 400;
  
  @include break(sm) {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 400;
  }

  @include break(md) {
    margin-bottom: 8px;
    font-size: 28px;
    line-height: 32px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  @include break(lg) {
    margin-bottom: 8px;
    font-size: 30px;
    line-height: 36px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  @include break(xl) {
    font-size: 34px;
    line-height: 44px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.BlockButton {
  margin-top: 24px;
  border: 1px solid #000;
  padding: 1rem 2rem;
  background-color: transparent;
  border-radius: 2px;

  @include break(md) {
    // margin-top: 0;
  }
}