@import '../../../styles/variables';


.LeadWrapper {
  margin: 72px auto;
  width: 80%;
  max-width: 900px;
}



//
// Blocks
//

.BlockWrapper {
  display: flex;
  flex-direction: column;
  margin: 8px 8px 48px 8px;

  @include break(md) {
    flex-direction: row;
    margin: auto;
  }
}

.BlockImageWrapper {
  height: 380px;
  position: relative;
  flex: 1;
  order: 1;

  @include break(md) {
    flex: 6;
    margin: 8px;
    order: 2;
  }
}

.BlockImageWrapper,
.BlockTextWrapper {
  min-height: 1px;
  
  @include break(md) {
    height: 500px;
  }
  
  @include break(xl) {
    height: 625px;
  }
}

.BlockTextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  order: 2;
  margin: 32px 0px;
  
  @include break(md) {
    flex: 6;
    margin: 8px;
  }
}

.BlockTextWrapperInner {
  width: 90%;
  
  @include break(md) {
    width: 80%;
  }

  @include break(lg) {
    width: 60%;
  }
}

.BlockWrapper:nth-of-type(even) .BlockTextWrapper {
  @include break(md) {
    order: 1;
  }
}

.BlockText {
  font-size: 16px;

  @include break(lg) {
    font-size: 18px;
  }
}

.BlockImage {
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.BlockHeadingWrapper {
  // margin-bottom: 2.5em;
  width: 100%;
}

.BlockHeading {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: normal;

  @include break(md) {
    margin-bottom: 8px;
    font-size: 28px;
    line-height: 32px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  @include break(lg) {
    margin-bottom: 8px;
    font-size: 32px;
    line-height: 36px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  @include break(xl) {
    font-size: 46px;
    line-height: 52px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}