@import '../../../styles/breakpoints';
@import '../../../styles/typography';


.PageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin: 8px;
  margin: 48px auto 96px auto;
  max-width: 1080px;
}



// 
// WP Editor
// 

.WpEditor {
  text-align: center;
  margin: 0 auto;
  max-width: 90%;
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    margin-bottom: 32px;
  }

  p {
    @extend .lead;
  }

  @include break(lg) {
    max-width: 70%;
  }
}


.Block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  min-height: 1px;

  @include break(md) {
    max-width: 90%;
  }

  @include break(lg) {
    max-width: 80%;
  }

  @include break(md) { 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &:first-of-type {
    margin-top: 0;
  }
}

.BlockImageWrapper,
.BlockTextWrapper {
  display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
}

.BlockImageWrapper {
  padding: 0 4vw;
  
  @include break(md) {
    padding: 0;
    flex: 4;
    order: 2;
  }
}

.BlockTextWrapper {
  justify-content: flex-start;
  padding: 0 4vw;
  margin-top: 16px;
  
  @include break(md) {
    padding: 0 6% 0 0;
    align-items: center;
    order: 1;
    margin-top: 0;
    text-align: left;
    flex: 8;
  }
}

.BlockImage {
  width: 100%;
  height: 300px;
  object-fit: cover;

  @include break(md) {
    height: auto;
  }
}

.BlockTextHeading {
  padding-top: 0;
}