// Base (non-component) styles
@import '../node_modules/normalize.css/normalize.css';
@import './variables';


*, 
*::before, 
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-rendering: geometricPrecision;
  -webkit-tap-highlight-color: transparent; // remove grey tap color
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

html {
  font-size: $font-size-base;
  direction: ltr;
  unicode-bidi: isolate;
  -webkit-locale: "en";
}

body {
  // background-color: #fff;
  font-family: $font-stack;
  color: $font-color;
  line-height: 1.43;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
}

#__next {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}



// 
// LINKS
// 

a,
button {
  cursor: pointer;
}

a {
  // color: $link-color;
  text-decoration: none;
}




// 
// TYPOGRAPHY
// 

p {
  display: block;
  font-size: 16px;
  line-height: 1.75em;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p.lead {
  font-size: 18px;
  line-height: 1.333;
  word-wrap: break-word;
  padding: 4px 0;
  // text-align: center;

  @include break(md) {
    font-size: 18px;
    line-height: 1.444;
  }

  @include break(lg) {
    font-size: 20px;
  }
}


.colored-heading {
  color: $heading-colored;
}

