@import './mixins/breakpoints';

// 
// Breakpoint Definitions
// 

$breakpoint-xs: 0px;
$breakpoint-sm: 480px;
$breakpoint-ms: 612px;
$breakpoint-md: 744px;
$breakpoint-ml: 936px;
$breakpoint-lg: 1128px;
$breakpoint-xl: 1440px;


$grid-breakpoints: (
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  ms: $breakpoint-ms,
  md: $breakpoint-md,
  ml: $breakpoint-ml,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl
 );

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");

:export {
  xs: $breakpoint-xs;
  sm: $breakpoint-sm;
  ms: $breakpoint-ms;
  md: $breakpoint-md;
  ml: $breakpoint-ml;
  lg: $breakpoint-lg;
  xl: $breakpoint-xl;
}