// 
// Define site colors
// 

// neutrals
$charcoal:       #484848;
$mine-shaft:     #212121;
$actual-white:   #ffffff;

// greys/blue-greys
$porcelain:      #f7f8f9;
$mischka:        #D8DAE6;
$cadet-blue:     #B0B1C3;
$santas-grey:    #9597B1;
$waterloo:       #797B95;
$fiord:          #44446E;
$matinique:      #312E52;
$charade:        #2E2D3F;
$midnight:      #181821;

// greens
$vista:          #85D497;
$pastel-green:   #6DD693;
$fern:           #57B173;
$fruit-salad:    #44915c;

// blues
$malibu:         #6BE4FF;
$bermuda:        #6D80A8;
$pattens-blue:   #D9E5FF;

// 
// Declarations
// 

$black:          $mine-shaft;
$white:          $actual-white;
$green:          $vista;
$blue:           $bermuda;
$grey-light:     $porcelain;
$grey:           #ebebeb;
$grey-dark:      $charcoal;

$navy:           #2D3E50;
$red:            #BC1B3C;


// 
// Export site colors
// 

// :export {
//   primary-light: $waterloo;
//   primary-main: $fiord;
//   primary-maindark: $charade;
  
//   secondary-light: $vista;
//   secondary-main: $bermuda;
//   secondary-dark: $fruit-salad;
// }
