@import './variables';

// 
// breakpoint visualizer
// 
.visualizer {
  @include break(xs) { background: rgba(red, 0.35) !important }
  @include break(sm) { background: rgba(orange, 0.35) !important }
  @include break(ms) { background: rgba(yellow, 0.45) !important }
  @include break(md) { background: rgba(green, 0.35) !important }
  @include break(ml) { background: rgba(dodgerblue, 0.35) !important }
  @include break(lg) { background: rgba(indigo, 0.35) !important }
  @include break(xl) { background: rgba(deeppink, 0.35) !important }
}

.visualizer::after {
  position: absolute;
  top: 10px;
  right: 20px;
  color: rgba(#000, 0.5);
  font-size: 16px;

  @include break(xs) { content: 'xs:  #{$breakpoint-xs}' }
  @include break(sm) { content: 'sm:  #{$breakpoint-sm}' }
  @include break(ms) { content: 'ms:  #{$breakpoint-ms}' }
  @include break(md) { content: 'md:  #{$breakpoint-md}' }
  @include break(ml) { content: 'ml:  #{$breakpoint-ml}' }
  @include break(lg) { content: 'lg:  #{$breakpoint-lg}' }
  @include break(xl) { content: 'xl:  #{$breakpoint-xl}' }
}


.visualizer-bordered {
  @include break(xs) { box-shadow: inset 0 0 0 3px rgba(red, 0.35) !important }
  @include break(sm) { box-shadow: inset 0 0 0 3px rgba(orange, 0.35) !important }
  @include break(ms) { box-shadow: inset 0 0 0 3px rgba(yellow, 0.45) !important }
  @include break(md) { box-shadow: inset 0 0 0 3px rgba(green, 0.35) !important }
  @include break(ml) { box-shadow: inset 0 0 0 3px rgba(dodgerblue, 0.35) !important }
  @include break(lg) { box-shadow: inset 0 0 0 3px rgba(indigo, 0.35) !important }
  @include break(xl) { box-shadow: inset 0 0 0 3px rgba(deeppink, 0.35) !important }
}


.visualizer-stripe {
  @extend .visualizer;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4px;
  z-index: 100;
}



// 
// Dotted image overlay
// 
.img-dotted::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $dot-texture repeat left top;
  z-index: 2;
  opacity: 0.75;

  @include break(md) {
    opacity: 0.5;
  }
}


// 
// Separators
// 
.separator,
.separator-wide,
.separator-full {
  padding: 0;
  display: block;
  border: 0.5px solid rgb(220, 220, 220);
  margin: 48px auto;
  // border: 1px solid #767676;
  // margin: 44px auto;
}

.separator {
  width: 64px;
}

.separator-wide {
  width: 80%;
}

.separator-full {
  width: 100%;
}



// 
// Containers
// 
.contain {
  width: 80%;
}