@import 'mixins/typography';
@import './breakpoints';
@import './colors';
@import './variables';

$responsive-font-styles: (
  (h0, 38px, 28px, 44px),
  (h1, 34px, 26px, 40px),
  (h2, 24px, 24px, 34px),
  (h3, 22px, 22px, 28px),
  (h4, 20px, 18px, 24px),
  (h5, 16px, 16px, 20px),
  (h6, 14px, 14px, 18px),
  (p, 14px, 14px, 16px, xs, sm),
  // (lead, 16px, 16px, 19px, xs, lg),
  (lead, 18px, 18px, 22px, xs, lg),
  // (page-lead, 18px, 18px, 22px, xs, lg),
);


// 
// general
// 
.normal {
  font-weight: normal;
}

.strong {
  font-weight: 500;
}

.stronger {
  font-weight: 600;
}

.light {
  font-weight: 300;
}



// 
// headings
// 

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: $heading-uncolored;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 8px;
  font-family: $font-stack-rounded;
  letter-spacing: normal;
  word-wrap: break-word;

  // @include break(md) {
  //   font-weight: 400;
  // }
}

// .h1,
// .h2,
// .h3,
// .h4,
// .h5,
// .h6 {
//   font-weight: 400;
// }

h1, .h1 {
  line-height: 30px;
  margin-top: 0;
  padding-top: 2px;
  padding-bottom: 2px;

  @include break(md) {
    line-height: 36px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  @include break(xl) {
    line-height: 52px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}


h2, .h2 {
  line-height: 28px;
  margin-top: 0;
  padding-top: 2px;
  padding-bottom: 2px;

  @include break(md) {
    line-height: 34px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  @include break(xl) {
    line-height: 46px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}


h3, .h3 {
  line-height: 26px;
  margin-top: 0;
  padding-top: 2px;
  padding-bottom: 2px;

  @include break(md) {
    line-height: 32px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  @include break(xl) {
    line-height: 36px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}


h4, .h4 {
  line-height: 24px;
  margin-top: 0;
  padding-top: 2px;
  padding-bottom: 2px;

  @include break(md) {
    line-height: 28px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  @include break(xl) {
    line-height: 32px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}


h5, .h5 {
  line-height: 22px;
  margin-top: 0;
  padding-top: 2px;
  padding-bottom: 2px;

  @include break(md) {
    line-height: 24px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  @include break(xl) {
    line-height: 28px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}



h1 {
  @extend .h1;
  @include responsive-font(h1);
}

h2 {
  @extend .h2;
  @include responsive-font(h2);
}

h3 {
  @extend .h3;
  @include responsive-font(h3);
}

h4 {
  @extend .h4;
  @include responsive-font(h4);
}

h5 {
  @extend .h5;
  @include responsive-font(h5);
}

h6 {
  @extend .h6;
  @include responsive-font(h6);
}


.heading,
.subheading {
  font-family: $font-stack-rounded;
  font-weight: 400;
}

.heading {
  color: $greyblue8;
}

.subheading {
  color: $greyblue5;
}



// 
// anchors
// 

a {
  font-size: 16px;
}


// 
// paragrahps
// 

p,
.lead,
p.lead,
p.lead a,
p a {
  font-family: $font-stack-sans-serif;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


p {
  @include responsive-font(p);

  line-height: 1.45em;
  display: block;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  @include break(sm) {
    line-height: 1.6em;
  }
}

.lead,
p.lead,
p.lead a {
  line-height: 1.45;
  word-wrap: break-word;
  padding: 4px 0;

  @include responsive-font(lead);

  @include break(md) {
    line-height: 1.5;
  }
}


.lead,
p.lead {
  color: lighten($charcoal, 15%);
}

.strong-lead,
p.strong-lead,
p.strong-lead a {
  @extend .lead;
  @extend .strong;
  color: $charcoal;
}

.colored-heading {
  color: $heading-colored;
}
