@import 'mixins/typography';
@import './breakpoints';
@import './variables';

$responsive-font-styles: (
  (h1, 34px, 26px, 40px),
  (h2, 24px, 24px, 34px),
  (h3, 22px, 22px, 28px),
  (h4, 20px, 18px, 24px),
  (h5, 16px, 16px, 20px),
  (h6, 14px, 14px, 18px),
  (lead, 16px, 16px, 20px),
);



// 
// headings
// 

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: $heading-uncolored;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 8px;
  font-family: $font-stack-rounded;
  letter-spacing: normal;

  // @include break(md) {
  //   font-weight: 400;
  // }
}

.h1 {
  line-height: 30px;
  margin-top: 0;
  padding-top: 2px;
  padding-bottom: 2px;

  @include break(md) {
    line-height: 36px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  @include break(xl) {
    line-height: 52px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}


.h2 {
  line-height: 28px;
  margin-top: 0;
  padding-top: 2px;
  padding-bottom: 2px;

  @include break(md) {
    line-height: 34px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  @include break(xl) {
    line-height: 46px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}


.h3 {
  line-height: 26px;
  margin-top: 0;
  padding-top: 2px;
  padding-bottom: 2px;

  @include break(md) {
    line-height: 32px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  @include break(xl) {
    line-height: 36px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}


.h4 {
  line-height: 24px;
  margin-top: 0;
  padding-top: 2px;
  padding-bottom: 2px;

  @include break(md) {
    line-height: 28px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  @include break(xl) {
    line-height: 36px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}


.h5 {
  line-height: 22px;
  margin-top: 0;
  padding-top: 2px;
  padding-bottom: 2px;

  @include break(md) {
    line-height: 24px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  @include break(xl) {
    line-height: 28px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}



h1 {
  @extend .h1;
  @include responsive-font(h1);
}

h2 {
  @extend .h2;
  @include responsive-font(h2);
}

h3 {
  @extend .h3;
  @include responsive-font(h3);
}

h4 {
  @extend .h4;
  @include responsive-font(h4);
}

h5 {
  @extend .h5;
  @include responsive-font(h5);
}

h6 {
  @extend .h6;
  @include responsive-font(h6);
}



// 
// paragrahps
// 

p {
  display: block;
  font-size: 16px;
  line-height: 1.65em;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p.lead {
  @include responsive-font(lead);
  line-height: 1.333;
  word-wrap: break-word;
  padding: 4px 0;

  @include break(md) {
    line-height: 1.444;
  }
}

a {
  font-size: 16px;
}

.colored-heading {
  color: $heading-colored;
}
