@import '../../styles/variables';
@import '../../styles/typography';


.PageLeadContainer {
  // color: inherit;
}


.PageLeadWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  margin: 8px;
  padding-top: 48px;
  max-width: 1080px;

  @include break(sm) {
    margin: 16px auto;
  }
}


.Left {
  align-items: flex-start;
  text-align: left;
}

.Center {
  align-items: center;
  text-align: center;
}

.Right {
  align-items: flex-end;
  text-align: right;
}


.PageLead {
  width: 90%;
  margin: auto;

  @include break(sm) {
    width: 80%;
  }

  @include break(md) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @include break(lg) {
    padding-left: 48px;
    padding-right: 48px;
  }

  @include break(xl) {
    padding-left: 64px;
    padding-right: 64px;
  }
}


.HeadingWrapper {
  margin-bottom: 28px;
}


.Heading {
  font-weight: 400;
  @extend .heading;
}


.LeadContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.Subheading,
.Subheading p {
  // font-size: 16px;
  line-height: 24px;
  @extend .subheading;

  @include break(lg) {
    // font-size: 18px;
    line-height: 26px;
  }
}


.LeadContent {
  margin-bottom: 1.5em;
  max-width: 750px;

  p {
    @extend .lead;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:not(:last-of-type) {
    margin-bottom: 1em;
  }
}


.LeadContent:last-child {
  margin-bottom: 0;
}

